version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "CI/CD"
      - "skip-changelog"
      - "priority/low"
    target-branch: "main"
    groups:
      actions:
        patterns: ["*"]

  # Python
  - package-ecosystem: "pip"
    directories:
      - "/"
      - "/.github/utils"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:52"
      timezone: "Europe/Oslo"
    labels:
      - "CI/CD"
      - "skip-changelog"
      - "priority/low"
    target-branch: "main"
    groups:
      packages:
        applies-to: version-updates
        patterns: ["*"]
      security:
        applies-to: security-updates
        patterns: ["*"]
