name: CD - Publish

on:
  release:
    types:
    - published

jobs:
  build:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/cd_release.yml@v2.8.3
    if: github.repository == 'SINTEF/soft7' && startsWith(github.ref, 'refs/tags/v')
    with:
      # General
      git_username: TEAM 4.0
      git_email: Team4.0@SINTEF.no
      release_branch: main

      # PyPI
      python_package: true
      python_version_build: '3.9'
      install_extras: '[dev]'
      package_dirs: s7
      build_libs: flit
      build_cmd: flit build
      publish_on_pypi: false
      upload_distribution: true

      # Documentation
      update_docs: false

    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}

  publish:
    name: Publish on PyPI
    needs: build
    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write

    steps:
      - name: Download built distritbution
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
